/* You can add global styles to this file, and also import other style files */

/* ---=== Navigation ===--- */

.section-dark {
	background-color: #f48148;
}

.card-avatar {
	border: 5px solid #8a4c2f;
}

.card-avatar:hover {
	border: 5px solid #5e3421;
}